body {
  height: 100vh;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}

.video-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  background-color: black;
}

.video-container video {
  height: 350px;
  width: 480px;
  display: block;
}

.video-options {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 15px;
}